$marron-claro: #AA7248;
$marron-intermedio: #aa7248;
$marron-obscuro: #5B391D;
$marron-dark: #332214;
$blanco: #fff;
$negro: #111;
$gris: #777;


$montserrat: 'Montserrat', 'Open Sans', Arial, Helvetica, sans-serif;
$open-sans: 'Open Sans', Arial, Helvetica, sans-serif
