.headline {
  &--h2 {
    font-size: 3.6rem;
    color: $marron-obscuro;
    text-transform: uppercase;

    small {
      font-size: 1.8rem;
      color: $marron-claro;
    }
  }
}

.parrafo {
  &-gris {
    color: $gris;
  }
  &-blanco {
    color: $blanco;
  }
  &-marron-intermedio {
    color: $marron-intermedio;
  }
}
